<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>tor - Log in</title>
        <link rel="stylesheet" href="/styles/global.css">
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/styles.css">
    </head>
    <body>
        <div class="page-wrapper">
            <main>
                <section class="section_login">
                    <img class="login_img" src="<%= photo %>" alt="<%= photoAlt %>">
                    <div class="login_layout padding-global">
                        <img class="icon-height-large align-center" src="/assets/logo.png" alt="tor logo">
                        <h1 class="text-align-center heading-style-h2">Content Creation Starts Here</h1>
                        <p class="text-align-center text-size-regular">The platform that prioritizes accountability and collaboration between creatorpreneurs.</p>
                        <div class="status-message-box">    
                            <p class="text-size-small is-line-height-removed">This email is not associated with an account. <a href="/signup">Create an account</a> instead.</p>
                        </div>
                        <div class="status-message-box">    
                            <p class="text-size-small is-line-height-removed">The password is incorrect. Please try again.</p>
                        </div>
                        <form name="userLogIn" action="/user-login" method="POST">
                            <div class="form_field-wrapper">
                                <label for="email">Email address</label>
                                <input type="email" id="email" name="email">
                            </div>
                            <div class="form_field-wrapper">
                                <label for="pwd">Password</label>
                                <input type="password" id="pwd" name="pwd">
                                <p class="text-size-xsmall"><a href="www.google.com">Forgot Password</a></p>
                            </div>
                            <button class="is-primary" type="submit" id="log-in-btn" disabled>Log in</button>
                        </form>
                        <p class="text-size-xsmall">Don't have an account? <a href="/user-signup">Create an account.</a></p>
                    </div>
                </section>
            </main>
        </div>
           
    <script type="module" src="/log-in.js"></script>
    </body>
</html>