<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>tor - Welcome</title>
        <link rel="stylesheet" href="/styles/global.css">
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/styles.css">
    </head>
    <body>
        <div class="parent-img-onboarding">
            <div class="background-img-onboarding">
                <div class="vertical-form onboarding-box">
                    <img src="/assets/logo.png" alt="tor logo" class="logo-img">

                </div>
            </div>
        </div>
        
    </body>
</html>