<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>tor - Sign up</title>
        <link rel="stylesheet" href="/styles/global.css">
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/styles.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    </head>
    <body>
        <div class="page-wrapper">
            <main>
                <section class="section_login">
                    <img class="login_img" src="<%= photo %>" alt="<%= photoAlt %>">
                    <div class="login_layout padding-global">
                        <img class="icon-height-large align-center" src="/assets/logo.png" alt="tor logo">
                        <h1 class="text-align-center heading-style-h2">Create An Account</h1>
                        <div class="status-message-box">    
                            <p class="text-size-small is-line-height-removed">This email already has an account created. Please <a href="/">log in</a> instead.</p>
                        </div>
                        <div class="status-message-box">    
                            <p class="text-size-small is-line-height-removed">The password is incorrect. Please try again.</p>
                        </div>
                        <form name="createAccount" action="/user-signup" method="POST">
                            <div class="form_field-wrapper">
                                <label for="email">Email address</label>
                                <input type="email" id="email" name="email">
                            </div>
                            <div class="form_field-wrapper">
                                <label for="pwd">Password</label>
                                <input type="password" id="pwd" name="pwd">
                            </div>
                            <div class="create-pw-box">
                                <div class="horizontal-element-pair">
                                    <span class="material-symbols-outlined uppercase-check">check</span>
                                    <p class="text-size-small is-line-height-removed">include at least 1 uppercase letter</p>
                                </div>
                                <div class="horizontal-element-pair">
                                    <span class="material-symbols-outlined lowercase-check">check</span>
                                    <p class="text-size-small is-line-height-removed">include at least 1 lowercase letter</p>
                                </div>
                                <div class="horizontal-element-pair">
                                    <span class="material-symbols-outlined number-check">check</span>
                                    <p class="text-size-small is-line-height-removed">include at least 1 numerical character</p>
                                </div>
                                <div class="horizontal-element-pair">
                                    <span class="material-symbols-outlined symbol-check">check</span>
                                    <p class="text-size-small is-line-height-removed">include at least 1 symbol</p>
                                </div>
                                <div class="horizontal-element-pair">
                                    <span class="material-symbols-outlined character-check">check</span>
                                    <p class="text-size-small is-line-height-removed">use at least 8 characters</p>
                                </div>
                            </div>
                            <div class="form_field-wrapper">
                                <label for="pwd-reconfirm">Reconfirm your password</label>
                                <input type="password" id="pwd-reconfirm" name="pwd-reconfirm">
                            </div>
                            <div class="re-pw-box">
                                <div class="horizontal-element-pair">
                                    <span class="material-symbols-outlined match-check">check</span>
                                    <p class="text-size-small is-line-height-removed">matches the password from the previous field</p>
                                </div>
                            </div>
                            <button class="is-primary" type="submit" id="sign-up-btn" disabled>Sign up</button>
                        </form>
                        <p class="text-size-xsmall">Have an account? <a href="/">Log in here.</a></p>
                    </div>
                </section>
            </main>
        </div>
        <script type="module" src="/sign-up.js"></script>
    </body>
</html>