h1, .heading-style-h1 {
    font-size: 3.25rem;
    line-height: 98%;
    font-family: Manrope;
}

h2, .heading-style-h2 {
    font-size: 2.75rem;
    line-height: 100%;
    font-family: Manrope;
    font-weight: bold;
}

h3, .heading-style-h3 {
    font-size: 2rem;
    line-height: 105%;
    font-family: Manrope;
    font-weight: bold;
}

h4, .heading-style-h4 {
    font-size: 1.5rem;
    line-height: 140%;
    font-family: Manrope;
    font-weight: bold;
}

p {
    font-family: Manrope;
    font-weight: 400;
}

.text-size-regular {
    font-family: Manrope;
    font-weight: normal;
    font-size: 0.9rem;
    line-height: 120%;
}

.text-size-small, label {
    font-family: Manrope;
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 120%;
}

.is-primary {
    border-radius: 0.5rem;
    background: #181818;
    color: #FFF;
}

.is-secondary {
    border-radius: 0.5rem;
    color: #181818;
    background: #FFF;
    border: 1px solid #181818;
}

.is-small {
    border-radius: 0.25rem;
    padding: 0.625rem 1.25rem;
    font-size: 0.75rem;
    font-weight: 600;
}

button:hover {
    background: #424242;
}

button:disabled {
    background-color: lightgray;
}

.is-line-height-removed {
    line-height: 0;
}

.is-background-color-red {
    background-color: red;
}

.is-background-color-blue {
    background-color: rgb(0, 76, 255);
}

.is-background-color-green {
    background-color: rgb(0, 255, 64);
}