@font-face {
	font-family: Manrope;
	src: url(../assets/Manrope-VariableFont_wght.ttf);
}

.material-symbols-outlined {
    color: rgba(0, 0, 0, 0.26);
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.section_login {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100vh;
}

.login_img {
    width: 50vw;
    height: 100vh;
    object-fit: cover;
}

.login_layout {
    display: flex;
    flex-direction: column;
    max-width: 30rem;
    margin-right: auto !important;
    margin-left: auto !important;
    justify-content: center;
    align-items: center;
}

.create-pw-box, .re-pw-box, .status-message-box {
    display: none;
    margin: 0;
    padding: 0;
}

.create-pw-box-unhide, .re-pw-box-unhide, .status-message-box-unhide {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 8px 15px;
    background-color: #FFFAE2;
}

.horizontal-element-pair {
    width: 100%;
    display: flex;
    gap: 5px;
    align-items: center;
    background-color: rgba(0, 255, 255, 0);
    line-height: 0;
}

.is-green {
    color: #00fb3b;
}




.parent-img-onboarding {
    position: relative;
    margin: 0;
    padding: 0;
}

.background-img-onboarding {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    min-height: 100vh;
    background-image: url("../assets/onboarding-bg-img.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.onboarding-box {
    background-color: #FFF;
    width: 50vw;
    max-width: 1000px;
}















